body {
  color: #484848;
  background: #ffe6cc;
  font-family: Tahoma;
  line-height: 1.5;
  padding: .5em 2.5em 3em;
}

h1 {
  color: #ff33ff;
}

button {
  color: #ff33ff;
  background: #cce5ff;
  border: solid 1px white;
  cursor: pointer;
  padding: 0.5em;
  font-size: 1.4em;
}

div {

}

header{

}

nav {

}

footer{

}

ul{

}

li{
  padding: 0.4em;
  margin-top: 0.3em;
  margin-bottom: 0.4em;
}

#mealplan {
  border: solid 1px black;
  padding: 2em;
}
